# See http://help.github.com/ignore-files/ for more about ignoring files.

# directories

/*/
!/demo
!/flow-typed
!/src
!/scripts
/index.js

# misc
.DS_Store
.env
npm-debug.log
yarn-error.log

# lockfiles
yarn.lock
package-lock.json

# programmatically generated icons
src/Icon/util/svg/*
demo/node_modules
